.parent{
    border-style: solid black;
    display: inline-block;
    position:fixed;

    top:70px;
    left:159px;
}
.box{
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: green;

    text-align: center;
}
 #two {
    border-style: solid black;
    width:20px;
    height: 30px;
    background-color: aqua; text-align: center;


}